@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');
/*@import url('https://fonts.googleapis.com/css?family=Lexend+Tera&display=swap');*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400&display=swap');


/*  スマホ対応で表示されてしまう横スクロールバー非表示 iOS対応*/
html {
  overflow: auto;
}

body {
  font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, sans-serif;
  /*  line-height: 1.5em;*/
  background-color: #fff;
  /*  スマホ対応で表示されてしまう横スクロールバー非表示 デスクトップのみの対応*/
  overflow-x: hidden;
}

header,
h2,
h3,
th,
dt,
p,
a {
  font-family: 'Noto Sans JP', sans-serif;
}


/* 画面遷移時、fadein/out
---------------------------------------*/
body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  /* 背景カラー */
  z-index: 9999;
  /* 一番手前に */
  pointer-events: none;
  /* 他の要素にアクセス可能にするためにポインターイベントは無効に */
  opacity: 0;
  /* 初期値 : 透過状態 */
  -webkit-transition: opacity .8s ease;
  -ms- transition: opacity .8s ease;
  -moz- transition: opacity .8s ease;
  /* アニメーション時間は 0.8秒 */
  transition: opacity .8s ease;
}

body.fadeout::after {
  opacity: 1;
}

/* div.wrapper
---------------------------------------*/
.wrapper {
  /*  width: 1280px;*/
  width: auto;
  background-color: #eefffc;
  margin: 0 auto;
}

/* header
---------------------------------------*/
header {
  padding: 12px 0 10px;
  /*  height: 65px;*/
  height: auto;
  /*スクロールしても固定*/
  position: fixed;
  /*  1番手前に表示*/
  z-index: 2;
  display: flex;
  /*  flex-direction: column header内の要素は縦方向設置*/
  flex-direction: column;
  /*  flex-directionプロパティにcolumnを指定すると、justify-contentプロパティ, align-itemsプロパティで揃えられる向きが逆転するため 
  align-itemsを使用してnavを中央に配置*/
  align-items: center;
  width: 100%;
  font-size: 0.9em;
  background: rgba(255, 255, 255, 0.1);
  /*  background-color: #fff;*/
  color: #fff;
  transition: 0.3s;

}

@media screen and (min-width:768px) {
  padding: 20px 0 0;
}

/*ヘッダー背景のアニメーション*/
header.is-animation {
  background: #fff;
  /*heightに変更がなくても指定する*/
  /*  height: 65px;*/
  height: auto;
}

/*itemページの設定*/
header.item {
  background: #fff;
}


/*ロゴタイプ*/
/*
header h1 img {
  height: 20px;
  width: auto;
}

*/
header h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 0.4em;
  margin-top: 3px;
}

@media screen and (min-width:425px) {
  header h1 {
    font-size: 1em;
  }
}

@media screen and (min-width:768px) {
  header h1 {
    font-size: 1.2em;


  }
}

header h1.is-animation {
  color: #000;
}

header.item h1 {
  color: #000;
}


.menu_box {
  width: 100%;
  display: flex;
  justify-content: space-between;

}





/* div.nav-drawer
---------------------------------------*/
#nav-drawer {
  position: relative;
  padding-left: 15px;

  /*  background-color: aqua;*/
}

@media screen and (min-width:425px) {
  #nav-drawer {
    padding-left: 30px;
  }
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display: none;


}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span,
#nav-open span:before,
#nav-open span:after {
  position: absolute;
  height: 2px;
  /*線の太さ*/
  width: 25px;
  /*長さ*/
  border-radius: 3px;
  background: #fff;
  display: block;
  content: '';
  cursor: pointer;
}


.item #nav-open span,
.item #nav-open span:before,
.item #nav-open span:after {
  background: #000;
}


/*スクロール時の色変更*/
#nav-open span.is-animation,
#nav-open span.is-animation:before,
#nav-open span.is-animation:after {
  background: #000;
}



#nav-open span:before {
  bottom: -8px;
}

#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;
  /*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;
  /*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  /*最前面に*/
  width: 90%;
  /*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 300px;
  /*最大幅（調整してください）*/
  height: 100%;
  background: #fff;
  /*背景色*/
  transition: .3s ease-in-out;
  /*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
  /*左に隠しておく*/
}

#nav-content ul {}

#nav-content ul li {
  /*  margin-left: 30px;*/

  transition: all .3s ease;
  /*  display: inline-block;*/
  border-bottom: 1px solid #d1d1d1;
}

#nav-content ul li:hover {
  background-color: #000;
}



/* 最後の要素を右寄せするためにposition指定 */
/*
nav.global ul li:last-child {
  position: absolute;
  right: 50px;
  bottom: 2px;
}
*/

#nav-content ul li a,
#nav-content ul li p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: #000;
  /*hoverの設定*/
  transition: all .3s ease;
  /*リンクをliいっぱいに設定*/
  display: block;
  width: 100%;
  padding: 5px 5px 5px 30px;

}

#nav-content ul li p {

  font-size: 1.2em;
  text-align: center;
}


#nav-content ul li a {
  font-size: 0.9em;
}


#nav-content ul li a:hover {
  color: #fff;


}






/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;
  /*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  /*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0, 0, 0, .15);
}



/*ハンバーガーメニューはスマホサイズのみ表示 */
@media screen and (min-width:768px) {
  #nav-open {
    /*    display: none;と異なり、要素が持っている位置や幅、高さなどの構造は維持される*/
    visibility: hidden;

  }
}


/* .login
---------------------------------------*/
.menu_box .login {
  padding-right: 15px;
}

@media screen and (min-width:425px) {
  .menu_box .login {
    padding-right: 30px;
  }
}

.menu_box .login a {
  color: #fff;
}

.item .menu_box .login a {
  color: #000;
}

.menu_box .login a.is-animation {
  color: #000;
}

.menu_box .login .fas {
  transition-duration: .3s;
}

.menu_box .login .fas:hover {
  color: #61bebf;
}


/* nav.global
---------------------------------------*/

nav.global {
  width: 100%;
  margin-top: 20px;
  /*  スマホ・タブレットは非表示*/
  display: none;
}

/*PCで表示*/
@media screen and (min-width:768px) {
  nav.global {
    display: block;
  }
}


nav.global ul {
  /*  flex指定で要素を横並び*/
  display: flex;
  justify-content: center;
  /* 最後の要素を右寄せするために親要素にposition指定 */
  position: relative;


  /*  background-color: aqua;*/

}

nav.global ul li {
  margin-left: 40px;
  padding: 5px;
  letter-spacing: 1px;
}

/* 最後の要素を右寄せするためにposition指定 */
/*
nav.global ul li:last-child {
  position: absolute;
  right: 50px;
  bottom: 2px;
}
*/

nav.global ul li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 0.9em;
  line-height: 1.5;
  /*  以下、下線を左から右に引く設定*/
  display: block;
  padding: 0 0 5px;
  text-decoration: none;
  color: #fff;
}

/*  下線を左から右に引く設定*/
nav.global ul li a::after {
  border-bottom: 2px solid #000;
  bottom: 0;
  content: "";
  display: block;
  transition: all .3s ease;
  width: 0;
}

/*  下線を左から右に引く設定*/
nav.global ul li a:hover::after {
  width: 100%;
}

nav.global ul li a.is-animation {
  color: #000;
}

nav.global ul li .fas {
  transition-duration: .3s;
}

nav.global ul li .fas:hover {
  color: #61bebf;
}


.item nav.global ul li a {
  color: #000;
}




/* firstview-carousel
---------------------------------------*/
.firstview-carousel {
  /*  background: #222;*/
  background: #eefffc;
}

.firstview-carousel-cell {
  /*  テスト用*/
  /*  background: blue;*/


  width: 100%;
  height: auto;
  /*  margin-right: 10px;*/
  /* center images in cells with flexbox */


  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

}

@media screen and (min-width: 961px) {
  .firstview-carousel-cell {
    height: 500px;
  }
}

/*firstview上の文字
---------------------------------------*/
.firstview-carousel-cell .first,
.firstview-carousel-cell .second {
  position: absolute;
  /*  padding: 30px;*/
  color: #262626;
  font-size: 0.7em;
  letter-spacing: 0.2em;
  top: 80%;

}


.firstview-carousel-cell .first {
  left: 5%;
}

.firstview-carousel-cell .second {
  right: 5%;
}

@media screen and (min-width: 768px) {

  .firstview-carousel-cell .first,
  .firstview-carousel-cell .second {
    top: 83%;
    font-size: 1em;
    letter-spacing: 0.3em;
  }

  .firstview-carousel-cell .first {
    left: 5%;
  }

  .firstview-carousel-cell .second {
    right: 5%;
  }
}

/*firstview上の画像サイズ
---------------------------------------*/
.firstview-carousel-cell-image {
  display: block;
  /*  アスペクト比固定*/
  height: auto;

  width: 100%;
  /*  width: 100vw;*/
}

@media screen and (min-width: 426px) {
  .firstview-carousel-cell-image {
    display: block;
    /*  アスペクト比固定*/
    height: auto;
    /*  width: 100%;*/
    width: 100vw;
  }
}



/* div.container
---------------------------------------*/
.index .container {
  margin: 20px 0 30px;
}

.item .container {
  margin: 0 0 30px;
}



/* main
---------------------------------------*/
main {
  /*  width: 630px;*/
  width: auto;
  float: none;



}

/*main img {*/
/*  width: 90%;*/
/*  縦の高さのみを固定*/
/*  height: 90%;*/
/*  トリミング*/
/*  object-fit: cover;*/
/*}*/

/* parallax
---------------------------------------*/

.parallax_frontandback {
  width: 100vw;
  height: auto;
  margin: 60px 0;

  /*  background-color: aqua;*/
}

.parallax {


  width: 100vw;
  min-height: 400px;
  background-image: url(../images/small_AdobeStock_299119210.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

}


@media screen and (max-width: 768px) {


  .parallax {
    /*    background-color: blueviolet;*/
    background-image: none;
  }

  .parallax::before {
    /*  .b {*/
    content: "";
    display: block;
    min-width: 100vw;
    /*    min-width: 100vw;*/
    /*    height: auto;*/
    /*    min-height: 100vh;*/
    /*    min-height: 400px;*/
    min-height: 400px;
    background-image: url(../images/small_AdobeStock_299119210.jpg);
    background-position: center 85%;
    /*    background-size: 50%;*/
    background-size: 150%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    /*
  position: scroll;
  top: 0;
  left: 0;*/
    z-index: -1
      /*    z-index: 0*/
  }






}



/*
@media only screen (min-width: 768px) {
  .parallax {
    background-attachment: fixed;
  }
}

@media only screen (min-width: 961px) {
  .parallax {
    background-attachment: fixed;
  }
}
*/

/*
.parallax.bg-01 {
  background-image: url(../images/small_AdobeStock_299119210.jpg);

}
*/

main h2 {
  font-weight: 500;
  font-size: 1.25em;
  /*  border-left: 14px solid #030;*/
  /*  padding-bottom: 10px;*/
  line-height: 1.5;
  /*  margin-bottom: 15px;*/
  text-align: center;
  /*clear: both;*/
  letter-spacing: 1px;

}

main p {
  /*  margin-bottom: 10px;*/
  /*  margin-left: 24px;*/
  font-size: 0.9em;
  text-align: center;
  line-height: 2.5;
}


@media screen and (min-width: 600px) {
  main p {
    font-size: 1em;
    text-align: center;
    line-height: 2.5;
  }
}

main p br.sp {
  display: inline;
}

@media screen and (min-width: 600px) {
  main p br.sp {
    display: none;
  }

}

.index main section {
  margin: 60px 0;
}





/* Flickity
---------------------------------------*/

/*firstview

/*firstviewのdots*/
.flickity-page-dots {
  bottom: 5px;
}

@media screen and (min-width: 768px) {
  .flickity-page-dots {
    bottom: 25px;
  }
}

/*pickup*/

.pickup-carousel {
  /*  margin-bottom: 30px;*/
  margin: 60px 20px;
  /*  position: relative;*/


}

@media screen and (min-width: 768px) {

  .pickup-carousel {
    margin: 80px 40px;
  }

}

@media screen and (min-width: 961px) {

  .pickup-carousel {
    margin: 90px;

  }

}

.pickup-carousel-cell {
  /*  margin: 0 40px;*/

  /*  padding: 0 10px;*/
  margin: 0 10px;
  display: block;
  width: 22vw;
  height: auto;
  /*  display: flex;*/

}

@media screen and (min-width: 768px) {

  .pickup-carousel-cell {
    /*  margin: 0 40px;*/
    margin: 0 20px;
    width: 22vw;
  }

}

@media screen and (min-width: 961px) {

  .pickup-carousel-cell {
    /*  margin: 0 40px;*/
    margin: 0 20px;
    width: 270px;
  }
}



.pickup-carousel-cell item {

  /*テスト用*/
  /*  background-color: aqua;*/

}


/*hover設定*/
/*img要素を包むa要素の背景画像に、マウスオーバー時の画像を指定して、img要素のopacityを徐々に変化させる*/
/*.pickup-carousel-cell .item a #IMG*/
.pickup-carousel-cell .item #IMG_6839 {
  /*  ブロック要素にして背景画像を表示*/
  display: block;
  background: url(../images/IMG_6840.png) center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pickup-carousel-cell .item #IMG_6851 {
  /*  ブロック要素にして背景画像を表示*/
  display: block;
  background: url(../images/IMG_6852.png) center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pickup-carousel-cell .item #IMG_6854 {
  /*  ブロック要素にして背景画像を表示*/
  display: block;
  background: url(../images/IMG_6860.png) center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pickup-carousel-cell .item #IMG_6885 {
  /*  ブロック要素にして背景画像を表示*/
  display: block;
  background: url(../images/IMG_6886.png) center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pickup-carousel-cell .item #IMG_6895 {
  /*  ブロック要素にして背景画像を表示*/
  display: block;
  background: url(../images/IMG_6896.png) center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pickup-carousel-cell .item #IMG_6904 {
  /*  ブロック要素にして背景画像を表示*/
  display: block;
  background: url(../images/IMG_6906.png) center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pickup-carousel-cell .item #IMG_6928 {
  /*  ブロック要素にして背景画像を表示*/
  display: block;
  background: url(../images/IMG_6931.png) center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pickup-carousel-cell .item #IMG_6909 {
  /*  ブロック要素にして背景画像を表示*/
  display: block;
  background: url(../images/IMG_6910.png) center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pickup-carousel-cell .item #IMG_6933 {
  /*  ブロック要素にして背景画像を表示*/
  display: block;
  background: url(../images/IMG_6932.png) center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pickup-carousel-cell .item #IMG_6919 {
  /*  ブロック要素にして背景画像を表示*/
  display: block;
  background: url(../images/IMG_6924.png) center;
  background-size: cover;
  background-repeat: no-repeat;
}




.pickup-carousel-cell .item img {

  display: block;
  width: 22vw;
  height: auto;
  background: #ededed;
  transition: opacity .3s;

}

@media screen and (min-width: 768px) {

  .pickup-carousel-cell .item img {
    /*  width: 25%;*/
    /*  position: absolute;*/
    /*  left: 0%;*/


    /*    width: 25vw;*/
    width: 22vw;

  }


}

@media screen and (min-width: 961px) {

  .pickup-carousel-cell .item img {
    /*  width: 25%;*/
    /*  position: absolute;*/
    /*  left: 0%;*/

    width: 270px;
    /*  height: 360px;*/

    /*  vertical-align: middle;*/

  }



}


.pickup-carousel-cell .item a:hover img {
  opacity: 0;
}

.pickup-carousel-cell p {
  /*  margin-top: 15px;*/
  /*  main pの打ち消し*/
  margin-left: 0;
  /*  main pの打ち消し*/
  margin-bottom: 3px;
  /*  letter-spacing: 5px;*/
  letter-spacing: 0.1em;
  /*  font-size: 0.4em;*/
  /*  font-size: 0.7em;*/
  text-align: left;

  /*  background-color: beige;*/

  /*3点リーダ表示設定 親要素にwidth指定する*/
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}


.pickup-carousel-cell .itemname {
  margin-top: 5px;

  font-size: 0.3em;
  color: #264c4d;

}

.pickup-carousel-cell .itemprice {
  padding-bottom: 20px;
  /*  上書き*/
  line-height: 1;
  font-size: 0.2em;
  color: #667c7e;

}

@media screen and (min-width: 768px) {

  .pickup-carousel-cell .itemname {
    font-size: 0.5em;

  }

  .pickup-carousel-cell .itemprice {
    font-size: 0.4em;

  }


}


@media screen and (min-width: 961px) {


  .pickup-carousel-cell .itemname {
    font-size: 0.8em;

  }

  .pickup-carousel-cell .itemprice {
    font-size: 0.7em;

  }

}



.flickity-button {
  transition-duration: .3s;
}

.flickity-button:hover {
  color: #fff;
  background: #61bebf;

  /*  transform: scale(1.1);*/
  /*  transform: scaleZ(1.5);*/
  /*  background: ;*/

}




/*スマホ表示ではボタン非表示*/
@media screen and (max-width: 767px) {

  .flickity-prev-next-button.previous,
  .flickity-prev-next-button.next {
    display: none;
  }

}




main hr {
  background-color: #a6c3bf;
  border: none;
  height: 1px;
  margin-top: 0;
  margin-bottom: 0;
}

main hr.first {
  width: 20%;
}

main section .pickup {}

main section .recommend {}

main section .recommendList {

  display: flex;
  justify-content: center;

  margin: 40px 0;
}


main section .divbutton {

  width: 180px;
  height: 50px;
  /*    border: 1px solid gray;*/
  /*ボタン中央配置*/
  margin: 0 auto;
  /*div全体にリンクをつける*/
  position: relative;
  background: #61bebf;
  transition-duration: 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

}

main section .divbutton a {
  text-decoration: none;
  letter-spacing: 4px;
  text-align: center;
  padding-top: 10px;
  color: #fff;
  /*  text-*/
  /*  padding: */
  /*div全体にリンクをつける*/
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}




main section .divbutton:hover {
  transform: scale(1.1);
}

main .regist {
  position: relative;

  border-top: 1px ridge #bebebe;
  border-bottom: 1px ridge #bebebe;
  /*  floatした要素の親要素（このbox）に高さを認識させる*/
  overflow: hidden;

}

.index main .regist-section {

  float: none;

}

@media screen and (min-width: 768px) {

  .index main .regist-section {

    float: left;
    margin-top: 12%;
    margin-left: 10%
  }


}

@media screen and (min-width: 961px) {

  .index main .regist-section {

    float: left;
    margin-top: 10%;
    margin-left: 10%
  }

}

main .regist-section p {
  background-position: left center;
  letter-spacing: 3px;
  font-size: 1em;
  margin-bottom: 20px;
}


main .regist-section .divbutton {
  background-position: 0 2px;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  main .regist-section .divbutton {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 961px) {
  main .regist-section .divbutton {
    margin-bottom: 0;
  }

}

/*img調整のため*/
main .regist p {
  margin-left: 0;
}

main .regist img {
  float: none;
  /*  アスペクト比固定*/
  height: auto;
  width: 100vw;
}

@media screen and (min-width: 768px) {

  main .regist img {
    float: right;
    /*  アスペクト比固定*/
    width: 55%;
  }

}

@media screen and (min-width: 961px) {

  main .regist img {
    float: right;
    /*  アスペクト比固定*/
    width: 50%;
  }
}


/* 見出し欧文フォント設定
---------------------------------------*/
main .pickup h2,
main .follow h2 {
  font-family: 'Montserrat', sans-serif;
  /*  font-size: 1em;*/
  font-weight: 400;
  letter-spacing: 0.2em;
}

main h2 br {
  display: inline;
}

@media screen and (min-width: 768px) {

  /*
  main .pickup h2,
  main .follow h2 {
    font-size: 1.2em;
  }
*/

  main h2 br {
    display: none;
  }

}

main .follow div {
  margin-top: 50px;
  text-align: center;
}

main .follow img {
  height: auto;
  width: 26vw;
  background: #f2f2f2;
  margin: 0 5px;
  transition: opacity .3s;
}

@media screen and (min-width: 768px) {
  margin: 0 10px;
  width: 18%;

}

main .follow img:hover {
  opacity: 0.5;
}




/* footer
---------------------------------------*/
footer {
  clear: both;
  background-color: #eefffc;
  padding: 0 10px;
  color: #000;
  /*  width: 100%;*/
  width: auto;

}

footer h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 1em;
  letter-spacing: 0.3em;
  line-height: 2;
  padding-left: 20px;
  margin-bottom: 10px;
}

footer .local,
footor .sns {
  margin-bottom: 50px;
  float: none;
}


@media screen and (min-width: 426px) {
  footer .local {
    /*  text-align: left;*/
    float: left;
  }

  footer .sns {
    /*  text-align: right;*/
    float: right;
  }

}


footer .local li,
footer .sns li {
  display: inline;

  /*  background-color: brown;*/

}


@media screen and (min-width: 768px) {

  footer .local li,
  footer .sns li {
    display: inline-block;

    /*  background-color: brown;*/

  }

}

footer .sns li:last-child {
  margin-right: 20px;
}




footer .local li a,
footer .sns li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  color: #000;
  font-size: 0.875em;
  text-decoration: none;
  margin-left: 20px;

}

footer .sns li .fab {
  transition-duration: .3s;
}

footer .sns li .fab:hover {
  color: #61bebf;
}

footer .local li a {
  /*  以下、下線を左から右に引く設定*/

  display: block;
  padding: 0 0 5px;
  text-decoration: none;

  /*  background-color: aqua;*/

}


/*  下線を左から右に引く設定*/
footer .local li a::after {
  border-bottom: 2px solid #000;
  bottom: 0;
  content: "";
  display: block;
  transition: all .3s ease;
  width: 0;
}


@media screen and (min-width: 768px) {

  /*  下線を左から右に引く設定 タブレット、スマホでは無効*/
  footer .local li a:hover::after {
    width: 100%;
  }
}

footer .local li .far {
  transition-duration: .3s;
}

footer .local li .far:hover {
  color: #61bebf;
}


footer small {
  clear: both;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
  display: block;
  text-align: center;
  margin-top: 30px;
  padding-bottom: 20px;
}

main section:last-child {
  margin-bottom: 0;
}




/* itemXX.html
---------------------------------------*/


.item_detail {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 80px;
  padding-bottom: 120px;


  /*  background-color: aqua;*/

}

@media screen and (min-width: 768px) {
  .item_detail {

    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 140px;
  }

}

.item_image {
  width: 90%;

  /*  background-color: royalblue;*/
}

@media screen and (min-width:768px) and (max-width:1024px) {
  .item_image {
    margin-left: 30px;
    width: 520px;
  }

}

@media screen and (min-width: 1025px) {
  .item_image {
    width: 550px;
  }

}

.carousel {
  background: rgba(255, 255, 255, 0);
  /*  background: #FAFAFA;*/
  margin-bottom: 40px;
}

.carousel-cell {
  /*  width: 390px;*/
  /*  height: 520px;*/
  width: 60vw;
  height: auto;
  background: #ededed;
  /*  padding: 20px 0;*/
  /*
  width: 50%;
  height: 200px;
*/
  margin-right: 20px;

  /*  background: #8C8;*/
  /*  border-radius: 5px;*/
  /*  counter-increment: carousel-cell;*/
}


@media screen and (min-width:768px) and (max-width:1024px) {
  .carousel-cell {
    width: 40vw;
  }
}


@media screen and (min-width: 1025px) {
  .carousel-cell {
    width: 390px;
    height: 520px;
    /*    width: 60vw;*/
    /*    height: auto;*/
    /*    background: #ededed;*/
    /*  padding: 20px 0;*/
    /*
  width: 50%;
  height: 200px;
*/

    /*    ナビの要素を回転させているのでbottomでなくてrightを指定*/
    margin-right: 30px;

    /*  background: #8C8;*/
    /*  border-radius: 5px;*/
    /*  counter-increment: carousel-cell;*/
  }


}

/* cell number */
.carousel-cell:before {
  display: block;

  /*  text-align: center;*/
  /*  content: counter(carousel-cell);*/
  /*  line-height: 200px;*/
  /*  font-size: 80px;*/
  color: black;
}

.carousel-main .carousel-cell img {
  display: block;
  width: 60vw;
  height: auto;

}

@media screen and (min-width:768px) and (max-width:1024px) {
  .carousel-main .carousel-cell img {
    width: 40vw;
  }
}

@media screen and (min-width: 1025px) {
  .carousel-main .carousel-cell img {
    width: 390px;
    height: 520px;
  }
}

.carousel-main {}

.carousel-nav {}

/*タブレット以上のサイズのときはJavascriptでHTMLに直接指定される
translateXの設定を上書きする*/
@media screen and (min-width: 768px) {
  .carousel-main .flickity-slider {
    /*    transform: translateX(55%) !important;*/
  }

}



.carousel-nav .carousel-cell {
  height: 81px;
  width: 61px;
  box-sizing: border-box;
  /*  ナビゲーションセルの向きを回転*/
  /*  transform: rotate(-90deg);*/

  /*  background-color: aqua;*/
  /*  background-color: aqua;*/

}




.carousel-nav .carousel-cell:before {
  /*  font-size: 50px;*/
  /*  line-height: 80px;*/
}

.carousel-nav .carousel-cell img {
  display: block;
  height: 80px;
  width: 60px;
}

.carousel-nav .carousel-cell.is-nav-selected img {
  display: block;
  height: 76px;
  width: 56px;
}

.carousel-nav .carousel-cell.is-nav-selected {
  /*  background: #ED2;*/
  border: 2px solid #61bebf;
  /*  border: 0.5px solid #61bebf;*/

}


.item_explain {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 40px;


  /*  background-color: aqua;*/

}


@media screen and (min-width:768px) and (max-width:1024px) {
  .item_explain {
    width: 320px;
    margin-right: 30px;
    margin-top: 0;

  }

}

@media screen and (min-width: 1025px) {
  .item_explain {
    width: 350px;

    margin-top: 0;

  }
}

.item_explain .item_price {
  font-size: 1.2em;
}




.item_explain_detail {
  margin: 30px auto;
  width: 80vw;
  height: auto;
  padding-top: 20px;
  border-top: 1px ridge #a6c3bf;

  /*  background-color: aqua;*/

}

@media screen and (min-width: 768px) {
  .item_explain_detail {
    margin: 20px 0;
    width: 100%;
    height: auto;

    /*    background-color: aqua;*/

  }

}

.item_explain_detail p {
  text-align: left;
  line-height: 1.2;
  padding: 10px 0;
  font-size: 0.9em
}


.item_explain_detail dl {
  /*  text-align: left;*/
  position: relative;
  margin: 18px 0 50px;
  font-size: 0.8em
}

.item_explain_detail dt {
  float: left;
  text-align: left;
}


.item_explain_detail dd {
  margin-left: 60px;

  /*  background-color: aquamarine;*/
}


/* 下層ページ共通設定
---------------------------------------*/

section.subpage {
  padding-top: 40px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  /*  background-color: beige;*/
}

@media screen and (min-width: 768px) {
  section.subpage {
    padding-top: 40px;

  }
}


/*shopFv
.shopFv p
.shopFv img
IEでもobject-fit:coverと同等に表示できる方法にする*/

.subpageFv {
  width: 100%;
  height: 300px;
  /*  height: 100vh;*/
  overflow: hidden;
  position: relative;

}

@media screen and (min-width: 768px) {
  .subpageFv {
    height: 500px;
  }
}

.subpageFv p {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-top: 48%;
  /*(画像の元サイズの縦幅/画像の元サイズの横幅*100)+0%*/
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);


  background-color: aqua;

}


.subpageFv img {
  height: 100%;
  width: auto;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);

  filter: brightness(60%);

}


.subpageFv h2 {
  line-height: 1;
  position: absolute;
  bottom: 140px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 32px;
  letter-spacing: 0.1em
}

@media screen and (min-width: 768px) {
  .subpageFv h2 {
    bottom: 200px;
  }
}


/* shop.html
---------------------------------------*/


.itemList {
  width: 90vw;
  height: auto;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  /*    align-items: center;*/
  /*  align-content: flex-start;*/
}

@media screen and (min-width: 376px) {

  .itemList {

    width: 82vw;
  }

}

@media screen and (min-width: 961px) {

  .itemList {

    width: 97vw;
  }

}

@media screen and (min-width: 1024px) {

  .itemList {

    width: 960px;
  }

}


@media screen and (min-width: 1300px) {

  .itemList {

    width: 1260px;
  }

}

/* aboutus.html 
---------------------------------------*/

.thought {
  margin-top: 40px;
}

.thought img {
  width: 50%;
  height: auto;
  margin-bottom: 40px
}

/* howtojoin.html
---------------------------------------*/

.htj {
  margin-bottom: 40px;
}

.howtojoin {
  display: block;
  /*  要素を均等に配置する*/
  /*  table-layout: fixed;*/
  width: 100%;
  position: relative;

}

.howtojoin .howtojoin_wrapper {
  margin-left: auto;
  margin-right: auto;
  display: block;
  /*  table-layout: fixed;*/
  width: 100%;
}

.howtojoin .howtojoin_wrapper .tc {
  width: 100%;
  position: relative;
  display: block;
  margin-top: 0;
  /*  設定リセット*/
  line-height: 0;

}

.howtojoin .howtojoin_wrapper .explain {
  /*  text-align: center;*/
  /*  縦配置は中央*/
  vertical-align: middle;
}

.howtojoin .howtojoin_wrapper .left {
  left: 0;
}

.howtojoin .howtojoin_wrapper .leftminus {
  left: 0;
}


/*@media screen and (min-width: 768px) {*/
@media screen and (min-width: 961px) {

  .howtojoin {
    display: table;
    /*  要素を均等に配置する*/
    table-layout: fixed;
    width: 100%;
    position: relative;

  }

  .howtojoin .howtojoin_wrapper {
    margin-left: auto;
    margin-right: auto;
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .howtojoin .howtojoin_wrapper .tc {
    width: 50%;
    position: relative;
    display: table-cell;
    margin-top: 0;
    /*  設定リセット*/
    line-height: 0;
  }

  .howtojoin .howtojoin_wrapper .left {
    left: 50%;
  }

  .howtojoin .howtojoin_wrapper .leftminus {
    left: -50%;
  }

}


.howtojoin .howtojoin_wrapper .explain div p br {
  display: none;
}


@media screen and (min-width: 571px) {
  .howtojoin .howtojoin_wrapper .explain div p br {
    display: inline;
  }
}



.howtojoin .howtojoin_wrapper .explain div {
  max-width: 568px;
  /*  padding: 25px 0;*/
  padding: 25px;
  margin: 0 auto;
  line-height: 1.58;
}

.howtojoin .howtojoin_wrapper .explain div p {
  text-align: left;
  font-size: 1em;
  /*  padding-left: 30px;*/
}

@media screen and (min-width: 425px) {
  .howtojoin .howtojoin_wrapper .explain div p {
    line-height: 2;
    /*    font-size: 0.7em;*/
  }

}



@media screen and (min-width: 961px) {
  .howtojoin .howtojoin_wrapper .explain div {
    max-width: 428px;
    /*  max-width: 728px;*/
    padding: 25px 0;
    margin: 0 auto;
    line-height: 1.58;
  }

  .howtojoin .howtojoin_wrapper .explain div p {
    text-align: left;
    font-size: 0.8em;
    /*  padding-left: 30px;*/
    line-height: 2.5;
  }

}

@media screen and (min-width: 1024px) {

  .howtojoin .howtojoin_wrapper .explain div p {
    font-size: 0.9em;
  }

  .howtojoin .howtojoin_wrapper .explain div {
    max-width: 488px;
  }

}

@media screen and (min-width: 1200px) {

  .howtojoin .howtojoin_wrapper .explain div p {
    font-size: 1em;
  }

  .howtojoin .howtojoin_wrapper .explain div {
    max-width: 528px;
  }

}



.howtojoin .howtojoin_wrapper .explain div p a {
  color: #000;
}



.howtojoin img {


  max-width: 100%;
  height: auto;
  /*    border-style: none;*/
  vertical-align: top;




}
