@charset "utf-8";

* {
  margin: 0;
  padding: 0
}


.abc {
  background-color: beige;
  width: 100vw;
  height: 100vh;
  /*  height: auto;*/
}






/*.first,*/
.b {
  /*  height: 100vh;*/
  width: 100vw;
  min-height: 400px;
  background-image: url("images/small_AdobeStock_299119210.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat
}

/*
.first p,
.b p {
  text-align: center;
  padding-top: 10vh;
  font-family: 'Gulim';
  font-size: 3rem;
  color: #13B3A1;
  text-shadow: 0 0 10px #fff
}
*/

  .a {
    width: 100vw;
    min-height: 50vh;
    background-color: aquamarine
  }

.c {
  width: 100vw;
  min-height: 50vh;
  background-color: aqua
}


@media screen and (max-width: 768px) {

  /*  .first,*/



  /*  .first::before,*/
  .b::before {
    /*  .b {*/
    content: "";
    display: block;
    min-width: 100vw;
    /*    min-width: 100vw;*/
    /*    height: auto;*/
    /*    min-height: 100vh;*/
    /*    min-height: 400px;*/
    min-height: 400px;
    background-image: url("images/small_AdobeStock_299119210.jpg");
    background-position: center 85%;
    /*    background-size: 50%;*/
    background-size: 150%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    /*
  position: scroll;
  top: 0;
  left: 0;*/
    z-index: -1
      /*    z-index: 0*/
  }

  .b {
    background-color: blueviolet;
    background-image: none;
  }

  .a {
    width: 100vw;
    min-height: 50vh;
    background-color: aquamarine
  }

  .c {
    width: 100vw;
    min-height: 50vh;
    background-color: aqua
  }


}
